Lloyds.json
{
  "name": "Lloyds",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "8b494d21-ff53-481d-b2b8-5d88853d8b04",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -368,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"associations.company\",\n          \"operator\": \"EQ\",\n          \"value\": 62873106\n        },\n        {\n          \"propertyName\": \"createdate\",\n          \"operator\": \"GTE\",\n          \"value\": \"2025-06-01T00:00:00Z\"\n        }\n      ]\n    }\n  ],\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"ASCENDING\" }\n  ],\n  \"properties\": [\n    \"subject\",\n    \"content\",\n    \"createdate\",\n    \"hs_pipeline\",\n    \"hs_pipeline_stage\"\n  ],\n  \"limit\": 100\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        48
      ],
      "id": "d8988363-c30e-4bbe-8ea6-dd8f5ac2f0a4",
      "name": "HTTP Request1",
      "credentials": {
        "hubspotAppToken": {
          "id": "fTTvdA0qBFFVHvLq",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"associations.company\",\n          \"operator\": \"EQ\",\n          \"value\": 62873106\n        },\n        {\n          \"propertyName\": \"hs_pipeline_stage\",\n          \"operator\": \"NEQ\",\n          \"value\": 4\n        }\n      ]\n    }\n  ],\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"ASCENDING\" }\n  ],\n  \"properties\": [\n    \"subject\",\n    \"content\",\n    \"createdate\",\n    \"hs_pipeline\",\n    \"hs_pipeline_stage\"\n  ],\n  \"limit\": 100\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        288
      ],
      "id": "e91f4ab3-eb7f-4a2c-b790-a0389881ad60",
      "name": "HTTP Request",
      "credentials": {
        "hubspotAppToken": {
          "id": "fTTvdA0qBFFVHvLq",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        144
      ],
      "id": "7431e306-e7bd-4a23-bbd5-068ef55f62ee",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ","
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        544,
        144
      ],
      "id": "c3edba8c-1962-45eb-b3a2-2d49c54ef720",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "results",
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        224,
        144
      ],
      "id": "366cf69b-10a2-4ecc-ac2c-1c18d3c3aacb",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        144
      ],
      "id": "96c79ab5-e844-4b1a-9e60-c765249d52de",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "//const input1 = $input.first().json.map(item => item.json);\n//const input2 = $input.last().json.map(item => item.json);\n\nconst input1 = $input.first().json.map(item => item.json);\n\n//Union by results\nconst map = new Map();\n[...input1, ...input2].forEach(obj =>{\n\n  map.set(obj.results,obj)\n})\n\n\n\nreturn Array.from(map.values()).map(v => ({json : v}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        432
      ],
      "id": "6736b221-838f-4e8d-b925-9cefdcd606a1",
      "name": "Code in JavaScript",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7eeafeb0-82a0-40ae-a2da-8ad9a50f4549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd7e4bf7d1cfcb300d5188e94e5c914a4b57906e9d5593274ef36edbdad59fc8"
  },
  "id": "uW9Eeflwh28c75iE",
  "tags": []
}